@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.solid{
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 1em;
  letter-spacing: 0.25em;
}
.p{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.9em;
}
.box{
  display: flex;
}
.main {
    margin: 1em auto;
    padding-bottom: 4em;
    background: #ffffff;
    border-color: #eeeeee03;
    max-width: 40%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4948a;
}

.btn{
    color: #eee;
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25em;
    cursor: pointer;
    outline: 0;
    background-color: rgb(244 148 137);
    border-radius: 0.35em;
    border-color: #eeeeee03;
}
.select {
  font-size: 120%;
  background-color: #f4948a;
  border: none;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  letter-spacing: 0em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.9em;
}
.option {
  background-color: #f4948a;
  border: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.9em;
}
.input {
  color: rgb(94, 85, 85);
}
