.days_td{
    width: 36px;
	height: 24px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 12px;
	color: #747978;
	cursor: pointer
}

.days_td:hover{
	background-color: #EEEDE9;
}


.days_td_selected{
	background-color: #f4948a!important;
	color: #ffffff;
}

.calendar .days td .event{
	color: #f4948a;
}

.day_td_period{
	box-sizing: border-box;
	border: 1px solid #f4948a;
}

.day_td_ovulation{
	box-sizing: border-box;
	border: 1px solid #a2d2ff;
}