#header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background-color:  rgb(244 148 137);
}
/* Logo */

#logo {
  width: 100%;
  text-align: center;
}

  #logo h1 {
      font-weight: 900;
      text-transform: uppercase;
      color: #fff;
      font-size: 2em;
      letter-spacing: 0.25em;
  }

  #logo p {
      color: #eee;
      color: rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
      margin: 1.25em 0 1.25em 0;
      display: block;
      letter-spacing: 0.2em;
      font-size: 0.9em;
  }

/* Nav */

#nav {
  width: 100%;
  text-align: center;
}

  #nav > ul {
      display: inline-block;
      border-radius: 0.35em;
      box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
      padding: 0 1.5em 0 1.5em;
  }

      #nav > ul > li {
          display: inline-block;
          text-align: center;
          padding: 0 1.5em 0 1.5em;
      }

          #nav > ul > li > a {
              display: block;
              color: #eee;
              color: rgba(255, 255, 255, 0.75);
              text-transform: uppercase;
              text-decoration: none;
              font-size: 0.7em;
              letter-spacing: 0.25em;
              height: 5em;
              line-height: 5em;
              outline: 0;
          }

          #nav > ul > li:hover > a {
              color: #fff;
          }
